@CHARSET "ISO-8859-1";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styling the Header */
header {
  background-color: #88c;
  height: 50px;
  width: 100%;
}

header p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #999;
  font-weight: bold;
  padding: 20px;
}

header a:link, nav a:link, header a:visited, nav a:visited, header a:active, nav a:active {
  color: #cce;
}

header a:hover, nav a:hover {
  color: #ddf;
}

nav div {
  padding-top: 10px;
  padding-right: 20px;
  font-size: large;
  text-decoration: none;
  font-style: italic;
}

/* Styling the main wrapper */
#main-wrapper {
  width: 100%;
  height: 100%;
}


/* Styling the login wrapper */
#login-wrapper {
  width: 310px;
  height: 180px;
  padding: 50px 1px 10px 50px;
  margin: 150px auto 0;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

#register-wrapper {
  width: 310px;
  height: 250px;
  padding: 50px 1px 10px 50px;
  margin: 150px auto 0;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

/* Form height, margin, padding */
form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin: .9em 0 0 0;
  padding: 0;
}

form * {
  line-height: 1em;
}

/* field labels */

label {
  clear: left;
  text-align: right;
  width: 15%;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #808080;
}

/* the fields */

input {
  font-size: .9em;
}

input {
  border: 2px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}

input {
  display: block;
  margin: 0;
  padding: .4em;
  width: 80%;
}

/* Place a border around focused fields */

form *:focus {
  border: 2px solid #7c412b;
  outline: none;
}

/* Display correctly filled-in fields with a green background */

input:valid {
  background: #efe;
}


/* Submit buttons */

.buttons {
  text-align: center;
  margin: 20px 0 0 -80px;
}

input[type="submit"], input[type="button"] {
  display: inline;
  margin: 0 5px 0 20px;
  width: 10em;
  padding: 10px;
  border: 2px solid #7c412b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #fff;
  background: #ca5f34;
  font-weight: bold;
  -webkit-appearance: none;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="button"]:hover, input[type="button"]:active {
  cursor: pointer;
  background: #fff;
  color: #ef7d50;
}

input[type="button"]:active, input[type="button"]:active {
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}

#filter-wrapper, #detail-wrapper, #add-wrapper {
  display: inline-block;
}

#cart-wrapper, #carts-wrapper {
  display: block;
}

#filter-wrapper, #add-wrapper {
  width: 30%;
}

#detail-wrapper {
  width: 60%;
}

#grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div#book {
  display: inline-block;
  width: 250px;
}

#book img {
  width: 50%;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav div {
  display: inline-block;
}

h2 {
  font-size: x-large;
}

.error {
  color: red;
}

h1 {
  font-size: xx-large;
}
